In [9]:
a = int(input('enter value of a'))
if a < 10: 
    print('a is less than 10')

enter value of a 5

a is less than 10

In [10]:
k = 1
while k < 6: # the code in the intedentation is executed until the condition is true !
    print('in loop') 
    print(k)
    k = k + 1

in loop
1
in loop
2
in loop
3
in loop
4
in loop
5

In [4]:
k = 1
while k < 1000:
    if k > 20:
        break
    print('The value of k is: {k_value}'.format(k_value=k)) # format is used to inject data into a string !
    k = k + 1

The value of k is: 1
The value of k is: 2
The value of k is: 3
The value of k is: 4
The value of k is: 5
The value of k is: 6
The value of k is: 7
The value of k is: 8
The value of k is: 9
The value of k is: 10
The value of k is: 11
The value of k is: 12
The value of k is: 13
The value of k is: 14
The value of k is: 15
The value of k is: 16
The value of k is: 17
The value of k is: 18
The value of k is: 19
The value of k is: 20

In [12]:
count = 1
while count <= 10:
    if count == 5:
        count += 1
        continue  # Skip printing 5
    print(count)
    count += 1

1
2
3
4
6
7
8
9
10

In [1]:
#For loop
my_list_of_data = [1, 'test', 3, 4]
for data in my_list_of_data:
    print(data)

1
test
3
4

In [11]:
specimens=['M50', 'XM20','YM50','M20','M56']
cleaned_specimens=[]
for specimen in specimens:
    if specimen[0]=='M':
        continue
    print(specimen)
    cleaned_specimens.append(specimen)
cleaned_specimens

XM20
YM50

['XM20', 'YM50']

In [12]:
specimens=['M50', 'M40','M30','M20']
for specimen in specimens:
    if specimen =='M30':
        break
    print (specimen)

M50
M40

In [13]:
list_of_tuples= [(1,3), (10,30), (100, 300)]
for small, big in list_of_tuples:
    print ('This is the small number:'+ str(small))
    print ('This is the big number:'+ str(big))

This is the small number:1
This is the big number:3
This is the small number:10
This is the big number:30
This is the small number:100
This is the big number:300

In [16]:
greetings = 'Hello World'
for char in greetings:
    print(char)

H
e
l
l
o

W
o
r
l
d

In [17]:
person = {'name':'Alice', 'age':'30', 'gender':'female'}
for key, value in person.items():
    print(key, ':', value)

name : Alice
age : 30
gender : female

In [21]:
for x in range(6):
    y = x + x**2+ x**0.3
    print(x, y)

0 0.0
1 3.0
2 7.231144413344916
3 13.39038917031591
4 21.5157165665104
5 31.62065659669276

In [25]:
my_data = []
for z in range(0, 110, 10):
    y = z + z**2+ z**0.3
    my_tuple= (z, y)
    my_data.append(my_tuple)
my_data

[(0, 0.0),
 (10, 111.99526231496888),
 (20, 422.4564560522316),
 (30, 932.7741911146721),
 (40, 1643.0242521453322),
 (50, 2553.233635032887),
 (60, 3663.41542989238),
 (70, 4973.5770862508725),
 (80, 6483.723291133272),
 (90, 8193.857205282227),
 (100, 10103.981071705535)]

In [27]:
# WHAT IS PICKLE USED FOR HERE?
import pickle
with open('my_new_data.pkl', 'wb') as my_file:
    pickle.dump(my_data, my_file)

In [28]:
squares = (x**2 for x in range (1,6))
squares

In [29]:
type(squares)

generator

In [30]:
for square in squares:
    print(square)

1
4
9
16
25

In [31]:
a = [1, 2, 16, 32, 64, 128, 256, 512, 1024]
for counter, value in enumerate(a):
    y = value **0.3
    print (counter, value, y)

0 1 1.0
1 2 1.2311444133449163
2 16 2.2973967099940698
3 32 2.82842712474619
4 64 3.4822022531844965
5 128 4.2870938501451725
6 256 5.278031643091577
7 512 6.498019170849884
8 1024 7.999999999999999

In [32]:
my_new_list_1 = [1, 4, 16, 32, 64, 128, 256, 512, 1024]
my_new_list_2 = [1*3, 4*3, 16*3, 32*3, 64*3, 128*3, 256*3, 512*3, 1024*3]
for l1, l2 in zip(my_new_list_1, my_new_list_2):
    print(l1, l2)

1 3
4 12
16 48
32 96
64 192
128 384
256 768
512 1536
1024 3072

In [10]:
my_list = [1,2,3]
my_iter = iter(my_list)
type(my_iter)
#print(next(my_iter))
#print(next(my_iter))

for item in my_iter:
    print (item)

1
2
3

In [43]:
#ITERTOOLS
import itertools
for i in itertools.count(0, 2):
    if i> 10:
        break
    print (i)

0
2
4
6
8
10

In [44]:

my_list = [1, 2, 3, 4]
counter = 0
for i in itertools.cycle(my_list):
    counter += 1
    if counter > 10:
        break
    print(i)

1
2
3
4
1
2
3
4
1
2

In [16]:
import itertools
for i in itertools.repeat (2, 5):
    print(i)

2
2
2
2
2

In [46]:
l1 = [1, 2, 3]
l2 = [4, 5, 6]
l3 = [7, 8, 9]
for i in itertools.chain(l1, l2, l3):
    print(i)

1
2
3
4
5
6
7
8
9

In [47]:
my_list = ['a', 'b', 'c', 'd', 'e']
for i in itertools.islice(my_list, 1, 4):
    print(i)

b
c
d

In [48]:
import itertools

# Generate the Cartesian product of two lists
list1 = ['a', 'b']
list2 = [1, 2, 3]
for pair in itertools.product(list1, list2):
    print(pair)

('a', 1)
('a', 2)
('a', 3)
('b', 1)
('b', 2)
('b', 3)

In [20]:
try:
    num1 = int(input("Enter a numerator:"))
    num2 = int(input("Enter a denominator:"))
    result = num1 / num2
except ZeroDivisionError:
    print("Error: Division by zero is not allowed")
except ValueError:
    print("Error: Please enter valid numeric values")
else:
    print(f"Result of division: {result}")
finally:
    print("Program execution completed")

Enter a numerator: 4
Enter a denominator: *

Error: Please enter valid numeric values
Program execution completed